<app-admin-header></app-admin-header>
<section class="main-and-sidebar-section ">
    <div class="sidebar-area">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="content-area">
        <h1 class="page-title">Faq</h1>

        <!-- <mat-form-field class="full-width-mat">
        <input matInput   placeholder="Title">
      </mat-form-field> -->

        <div class="container">
            <div class="clearfix"></div>
            <div class="faqcontentpart">
                <ul class="nav nav-tabs faqtabs justify-content-center">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#general"> <span
                            *ngIf="language=='en'">General</span> <span *ngIf="language=='ar'">جنرال لواء</span>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#orderrelated"> <span
                            *ngIf="language=='en'">Oreder Related</span> <span *ngIf="language=='ar'">ترتيب ذات
                الصلة</span> </a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#technical"> <span
                            *ngIf="language=='en'">Technical</span> <span *ngIf="language=='ar'">فني</span> </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        <h3 *ngIf="language=='en'">General</h3>
                        <h3 *ngIf="language=='ar'">جنرال لواء</h3>

                        <button class="btn btn-primary" style="float: right; margin: 10px;"
                                (click)="addNewFaq('general')">Add FAQ
                        </button>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Question</th>
                                <th scope="col">Answer</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let d of data; let i= index">
                            <tr *ngIf="d.type == '1'">
                                <th scope="row">{{i}}</th>
                                <td>
                                    <div class="form-group green-border-focus">
                                        <div *ngIf="language == 'en'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].question">
                                                {{d.question}}
                                            </textarea>
                                        </div>
                                        <div *ngIf="language == 'ar'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].questionArabic">
                                                {{d.questionArabic}}
                                            </textarea>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group green-border-focus">
                                        <div *ngIf="language == 'en'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].answer">
                                                {{d.answer}}
                                            </textarea>
                                        </div>
                                        <div *ngIf="language == 'ar'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].answerArabic" (change)="changeFaq('1', d._id, i)">
                                                {{d.answerArabic}}
                                            </textarea>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="tab-pane   fade" id="orderrelated">
                        <h3 *ngIf="language=='en'">Order Related</h3>
                        <h3 *ngIf="language=='ar'">ترتيب ذات الصلة</h3>
                        <button class="btn btn-primary" style="float: right; margin: 10px;"
                                (click)="addNewFaq('orderRelated')">Add FAQ
                        </button>

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Question</th>
                                <th scope="col">Answer</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let d of data; let i= index">
                            <tr *ngIf="d.type == '2'">
                                <th scope="row">{{i}}</th>
                                <td>
                                    <div class="form-group green-border-focus">
                                        <div *ngIf="language == 'en'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].question">
                                                {{d.question}}
                                            </textarea>
                                        </div>
                                        <div *ngIf="language == 'ar'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].questionArabic">
                                                {{d.questionArabic}}
                                            </textarea>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group green-border-focus">
                                        <div *ngIf="language == 'en'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].answer">
                                                {{d.answer}}
                                            </textarea>
                                        </div>
                                        <div *ngIf="language == 'ar'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].answerArabic" (change)="changeFaq('2', d._id, i)">
                                                {{d.answerArabic}}
                                            </textarea>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="tab-pane   fade" id="technical">
                        <h3 *ngIf="language=='en'">Technical</h3>
                        <h3 *ngIf="language=='ar'">فني</h3>
                        <button class="btn btn-primary" style="float: right; margin: 10px;"
                                (click)="addNewFaq('technical')">Add FAQ
                        </button>

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Question</th>
                                <th scope="col">Answer</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let d of data; let i= index">
                            <tr *ngIf="d.type == '3'">
                                <th scope="row">{{i}}</th>
                                <td>
                                    <div class="form-group green-border-focus">
                                        <div *ngIf="language == 'en'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].question">
                                                {{d.question}}
                                            </textarea>
                                        </div>
                                        <div *ngIf="language == 'ar'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].questionArabic">
                                                {{d.questionArabic}}
                                            </textarea>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group green-border-focus">
                                        <div *ngIf="language == 'en'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].answer">
                                                {{d.answer}}
                                            </textarea>
                                        </div>
                                        <div *ngIf="language == 'ar'">
                                            <textarea class="form-control"
                                                      rows="3" [(ngModel)]="data[i].answerArabic" (change)="changeFaq('3', d._id, i)">
                                                {{d.answerArabic}}
                                            </textarea>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
<!--        <div class="text-right">-->
<!--            <input type="button" class="btn btn-primary mt-3" value="Save">-->
<!--        </div>-->
    </div>

</section>
<app-admin-footer></app-admin-footer>