<div class="inner-pages-content">
    <section class="faq-section">
        <section class="inner-page-banner-sec">
            <div class="container">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">
                        <div class="col-sm-7 inerpage-bnr-content">
                            <h1 *ngIf="language=='en'">Frequently Asked Questions</h1>
                            <h1 *ngIf="language=='ar'">أسئلة مكررة</h1>
                            <p *ngIf="language=='en'">Here you can find most popular questions, Customer Service to
                                reduce time to answer queries like booking policy, order status. </p>
                            <p *ngIf="language=='ar'">هنا يمكنك العثور على الأسئلة الأكثر شيوعًا ، خدمة العملاء لتقليل
                                الوقت للإجابة على الاستفسارات مثل سياسة الحجز وحالة الطلب. </p>
                        </div>
                        <div class="col-sm-5 inerpage-bnr-image"> <img src="assets/images/home-food.png" alt=""> </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="clearfix"></div>
            <div class="faqcontentpart">
                <ul class="nav nav-tabs faqtabs justify-content-center">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#general"> <span
                                *ngIf="language=='en'">General</span> <span *ngIf="language=='ar'">جنرال لواء</span>
                        </a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#orderrelated"> <span
                                *ngIf="language=='en'">Oreder Related</span> <span *ngIf="language=='ar'">ترتيب ذات
                                الصلة</span> </a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#technical"> <span
                                *ngIf="language=='en'">Technical</span> <span *ngIf="language=='ar'">فني</span> </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        <h3 *ngIf="language=='en'">General</h3>
                        <h3 *ngIf="language=='ar'">جنرال لواء</h3>
                        <div class="wrapper center-block">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default" *ngFor="let faqlist of generalFaq">
                                    <div class="panel-heading active" role="tab" id="headingOne">
                                        <h4 class="panel-title"> <a role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse{{faqlist._id}}"
                                                aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                                                <span *ngIf="language=='en'">{{faqlist.question}}</span> <span
                                                    *ngIf="language=='ar'">{{faqlist.questionArabic}}</span> </a> </h4>
                                    </div>
                                    <div id="collapse{{faqlist._id}}" class="panel-collapse collapse in" role="tabpanel"
                                        aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p *ngIf="language=='en'">{{faqlist.answer}}</p>
                                            <p *ngIf="language=='ar'">{{faqlist.answerArabic}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane   fade" id="orderrelated">
                        <h3 *ngIf="language=='en'">Order Related</h3>
                        <h3 *ngIf="language=='ar'">ترتيب ذات الصلة</h3>
                        <div class="wrapper center-block">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default" *ngFor="let faqlist of orderFaq ">
                                    <div class="panel-heading active" role="tab" id="headingOne">
                                        <h4 class="panel-title"> <a role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse{{faqlist._id}}"
                                                aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                                                <span *ngIf="language=='en'">{{faqlist.question}}</span> <span
                                                    *ngIf="language=='ar'">{{faqlist.questionArabic}}</span> </a> </h4>
                                    </div>
                                    <div id="collapse{{faqlist._id}}" class="panel-collapse collapse in" role="tabpanel"
                                        aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p *ngIf="language=='en'">{{faqlist.answer}}</p>
                                            <p *ngIf="language=='ar'">{{faqlist.answerArabic}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane   fade" id="technical">
                        <h3 *ngIf="language=='en'">Technical</h3>
                        <h3 *ngIf="language=='ar'">فني</h3>
                        <div class="wrapper center-block">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default" *ngFor="let faqlist of technicalFaq">
                                    <div class="panel-heading active" role="tab" id="headingOne">
                                        <h4 class="panel-title"> <a role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse{{faqlist._id}}"
                                                aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                                                <span *ngIf="language=='en'">{{faqlist.question}}</span> <span
                                                    *ngIf="language=='ar'">{{faqlist.questionArabic}}</span> </a> </h4>
                                    </div>
                                    <div id="collapse{{faqlist._id}}" class="panel-collapse collapse in" role="tabpanel"
                                        aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p *ngIf="language=='en'">{{faqlist.answer}}</p>
                                            <p *ngIf="language=='ar'">{{faqlist.answerArabic}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>