<div class="inner-pages-content">
    <section class="contact-page-section">
        <div class="container">
            <div class="section-heading-part" *ngIf="language=='en'">
                <h2 class="pageheading">Contact Us</h2>
                <p>Questions? Suggestions? Feel free to contact us.</p>
            </div>
            <div class="section-heading-part" *ngIf="language=='ar'">
                <h2 class="pageheading">اتصل بنا</h2>
                <p>أسئلة؟ اقتراحات؟ لا تتردد في الاتصال بنا.</p>
            </div>
            <div class=" contactinfo-part">
                <ul class="contact-info" *ngIf="language=='en'">
                    <li>
                        <div class="continfopart"><span class="iconpart"><i class="fa fa-envelope-open-text"></i></span>
                            <div class="info-content"><strong>Email Address</strong>
                                <p><a href="mailto:info@dietcater.com">{{adminDetails?.email}}</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="continfopart"><span class="iconpart"><i class="fa fa-phone-alt"></i></span>
                            <div class="info-content"><strong>Phone Number</strong>
                                <p>{{adminDetails?.phoneNumber}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="addressli">
                        <div class="continfopart"><span class="iconpart"><i class="fa fa-home"></i></span>
                            <div class="info-content"><strong>Address</strong>
                                <p> {{adminDetails?.address}} </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="contact-info" *ngIf="language=='ar'">
                    <li>
                        <div class="continfopart"><span class="iconpart"><i class="fa fa-envelope-open-text"></i></span>
                            <div class="info-content"><strong>عنوان البريد الالكترونى</strong>
                                <p><a href="mailto:info@dietcater.com">{{adminDetails?.email}}</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="continfopart"><span class="iconpart"><i class="fa fa-phone-alt"></i></span>
                            <div class="info-content"><strong>رقم الهاتف</strong>
                                <p> {{adminDetails?.phoneNumber}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="addressli">
                        <div class="continfopart"><span class="iconpart"><i class="fa fa-home"></i></span>
                            <div class="info-content"><strong>عنوان</strong>
                                <p> {{adminDetails?.address}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form ">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group"><label *ngIf="language=='en'">Name</label><label
                                *ngIf="language=='ar'">اسم</label><input type="text" class="form-control"
                                                                         placeholder="Name" formControlName="name"
                                                                         required
                                                                         [ngClass]="{'is-invalid': submetted && f.name.errors}">
                            <p class="errormsg" *ngIf="submetted && f.name.errors">This field is required</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label *ngIf="language=='en'">Email</label><label
                                *ngIf="language=='ar'">البريد الإلكتروني</label><input type="text" class="form-control"
                                                                                       placeholder="Email" required
                                                                                       formControlName="email"
                                                                                       [ngClass]="{'is-invalid': submetted && f.email.errors}">
                            <p class="errormsg" *ngIf="submetted && f.email.errors && f.email.touched">Please enter
                                valid email</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label *ngIf="language=='en'">Phone</label><label
                                *ngIf="language=='ar'">هاتف</label><input type="text" class="form-control"
                                                                          placeholder="Phone" required
                                                                          formControlName="phone"
                                                                          [ngClass]="{'is-invalid': submetted && f.phone.errors}">
                            <p class="errormsg" *ngIf="submetted && f.phone.errors && language=='en'">Please enter valid
                                phone number</p>
                            <p class="errormsg" *ngIf="submetted && f.phone.errors && language=='ar'">الرجاء إدخال رقم
                                هاتف صحيح</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"><label *ngIf="language=='en'">What are you?</label><label
                                *ngIf="language=='ar'">ماذا تكون؟</label> <select class="selectpicker form-control"
                                                                                  required formControlName="type"
                                                                                  [ngClass]="{'is-invalid': submetted && f.type.errors}">
                            <option value="Driver" *ngIf="language=='en'">Driver</option>
                            <option value="Customer" *ngIf="language=='en'">Customer</option>
                            <option value="Store" *ngIf="language=='en'">Store</option>
                            <option *ngIf="language=='ar'" value="سائق">سائق</option>
                            <option *ngIf="language=='ar'" value="الزبون">الزبون</option>
                            <option *ngIf="language=='ar'" value="متجر">متجر</option>
                        </select>
                            <p class="errormsg" *ngIf="submetted && f.type.errors && language=='en'">This field is
                                required</p>
                            <p class="errormsg" *ngIf="submetted && f.type.errors && language=='ar'">هذه الخانة مطلوبه
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group"><label *ngIf="language=='en'">Subject</label><label
                                *ngIf="language=='ar'">موضوع</label><select class="selectpicker form-control" required
                                                                            formControlName="subject"
                                                                            [ngClass]="{'is-invalid': submetted && f.subject.errors}">
                            <option *ngIf="language=='en'" value="Inquiries">Inquiries</option>
                            <option *ngIf="language=='en'" value="Complain">Complain</option>
                            <option *ngIf="language=='en'" value="Suggestions">Suggestions</option>
                            <option *ngIf="language=='en'" value="Other">Other</option>
                            <option *ngIf="language=='ar'" value="استفسارات">استفسارات</option>
                            <option *ngIf="language=='ar'" value="تذمر">تذمر</option>
                            <option *ngIf="language=='ar'" value="اقتراحات">اقتراحات</option>
                            <option *ngIf="language=='ar'" value="آخر">آخر</option>
                        </select>
                            <p class="errormsg" *ngIf="submetted && f.subject.errors && language=='en'">This field is
                                required</p>
                            <p class="errormsg" *ngIf="submetted && f.subject.errors && language=='ar'">هذه الخانة
                                مطلوبه</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group"><label *ngIf="language=='en'">Message</label><label
                                *ngIf="language=='ar'">رسالة</label><textarea class="form-control" placeholder="Message"
                                                                              required
                                                                              style="resize: none;height: 140px;;;"
                                                                              formControlName="message"
                                                                              [ngClass]="{'is-invalid': submetted && f.message.errors}"></textarea>
                            <p class="errormsg" *ngIf="submetted && f.message.errors && language=='en'">This field is
                                required</p>
                            <p class="errormsg" *ngIf="submetted && f.message.errors && language=='ar'">هذه الخانة
                                مطلوبه</p>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary submitbtn  float-right" value="Submit"
                       *ngIf="language=='en'"><input type="submit" class="btn btn-primary submitbtn  float-right"
                                                     value="إرسال" *ngIf="language=='ar'">
                <div class="clearfix"></div>
            </form>
            <div class="clearfix"></div>

            <!-- <agm-map [latitude]="latitude" [longitude]="longitude"><agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>  </agm-map> -->

        </div>
    </section>
</div>