
<div class="admin-faq-section">
    <h1 class="page-title">FAQs</h1> 
 <div class="bgwhitepart">
    <mat-form-field class="full-width-mat">
        <input matInput   placeholder="Question"> 
      </mat-form-field> 
      <mat-form-field class="full-width-mat">
        <mat-label>Answer</mat-label>
        <textarea matInput placeholder="Type your answer here..." style="min-height: 10rem; resize:none;"></textarea>
      </mat-form-field>
     
    <div class="text-right">
      <input type="button" class="btn btn-primary mt-3" value="Save">
    </div>   
 </div>
</div>