<section class="login-page">
    <div class="container">
        <div class="login-part">
            <div class="logo-part-login">
                <img src="assets/images/logo.png" alt="">
                <h3>Forgot Password</h3>
            </div>

            <mat-form-field class="full-width-mat">
                <input matInput placeholder="Email">
            </mat-form-field>

            <div class="form-group">
                <a class="mt5 float-left forgot-link" routerLink="/admin/login">Back to login</a>
                <!-- <input class="btn btn-primary float-right" type="submit" value="Login"> -->
                <input class="btn btn-primary float-right" type="button" value="Send">
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</section>