<app-admin-header></app-admin-header>
<section class="main-and-sidebar-section ">
    <div class="sidebar-area">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="content-area">

        <!--loader code  <div class="loading-indicator" *ngIf="loader">            <mat-spinner mode="indeterminate"></mat-spinner>          </div>  -->

        <h1 class="page-title">Items</h1>
        <div class="mat-elevation-z8">
            <div class="button-act-grp">
                <div class=" float-left drop_div">
                    <button (click)="addCategory()" class="btn btn-primary btn-sm"
                            data-target="#addcategory" data-toggle="modal" type="button">Add Item <i
                            class="fa fa-plus"></i></button>
                </div>
                <!-- <div class=" float-left drop_div">             <a class="delete-aal0s btn btn-danger btn-sm" id="delete_option" (click)="bulkDelete()" style="display: inline-block;"              href="javascript:;"><i class="fa fa-trash"></i></a>          </div> -->
                <!-- <div class="langchangepart">               <span class="englishlang">English</span>               <label class="switch">                <input type="checkbox" value="true" >                <span class="slider round"></span>              </label>              <span class="argiclang">Arbic</span>           </div> -->
            </div>
            <mat-form-field class="float-right tablefilter"><input (keyup)="applyFilter($event.target.value)" matInput
                                                                   placeholder="Search by Category Name">
            </mat-form-field>
            <div class="table-responsive">
                <table [dataSource]="dataSource" class="mat-elevation-z8  " mat-table style="    width: 100%;">
                    <ng-container matColumnDef="select">
                        <th *matHeaderCellDef="let element" mat-header-cell style="width:45px;">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                        </th>
                        <td *matCellDef="let row" mat-cell>
                            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                          (click)="$event.stopPropagation()"
                                          [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell>Item Name(in English)</th>
                        <td *matCellDef="let element" mat-cell> {{element?.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nameArabic">
                        <th *matHeaderCellDef mat-header-cell>Item Name(in Arabic)</th>
                        <td *matCellDef="let element" mat-cell> {{element?.nameArabic}} </td>
                    </ng-container>
                    <ng-container matColumnDef="categoryName(InEnglish)">
                        <th *matHeaderCellDef mat-header-cell>Category Name(in English)</th>
                        <td *matCellDef="let element" mat-cell> {{element?.categoryId?.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="categoryName(InArabic)">
                        <th *matHeaderCellDef mat-header-cell>Category Name(in Arabic)</th>
                        <td *matCellDef="let element" mat-cell> {{element?.categoryId?.nameArabic}} </td>
                    </ng-container>
                    <ng-container matColumnDef="calories">
                        <th *matHeaderCellDef mat-header-cell>Calories</th>
                        <td *matCellDef="let element" mat-cell> {{element?.calories}} </td>
                    </ng-container>
                    <ng-container matColumnDef="protien">
                        <th *matHeaderCellDef mat-header-cell>Protien</th>
                        <td *matCellDef="let element" mat-cell> {{element?.protien}} </td>
                    </ng-container>
                    <ng-container matColumnDef="carb">
                        <th *matHeaderCellDef mat-header-cell>Carb</th>
                        <td *matCellDef="let element" mat-cell> {{element?.carb}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fat">
                        <th *matHeaderCellDef mat-header-cell>fat</th>
                        <td *matCellDef="let element" mat-cell> {{element?.fat}} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th *matHeaderCellDef mat-header-cell>Price</th>
                        <td *matCellDef="let element" mat-cell> {{element?.price}} </td>
                    </ng-container>
                    <ng-container matColumnDef="image">
                        <th *matHeaderCellDef mat-header-cell style="width:150px;"> Image</th>
                        <td *matCellDef="let element" mat-cell><img
                                [src]="element?.image "
                                alt="" onerror="this.onerror=null;this.src='/assets/images/home-food.png';" width="40">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th *matHeaderCellDef mat-header-cell style="width:180px;">Action</th>
                        <td *matCellDef="let element" class="datatable-ct" mat-cell>
                            <a (click)="patchValue(element)"
                               class="btn btn-primary actnbtn"
                               data-target="#addcategory"
                               data-toggle="modal"
                               href="javascript:void()"> <i
                                    aria-hidden="true" class="fa fa-edit"></i></a>
                            <a
                                    (click)="viewCategory(element)" class="btn btn-primary actnbtn"
                                    data-target="#addcategory"
                                    data-toggle="modal"
                                    href="javascript:void()" style="margin: 2px;"> <i aria-hidden="true"
                                                                                      class="fa fa-eye"></i></a>
                            <a
                                    (click)="deleteCategory(element._id)"
                                    class="on-default btn btn-danger remove-row actnbtn"><i aria-hidden="true"
                                                                                            class="fa fa-trash"></i>
                            </a></td>
                    </ng-container>
                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <app-admin-footer></app-admin-footer>
    <div class="modal" id="addcategory">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">{{modalTitle}}</h5>
                    <button class="close" data-dismiss="modal"
                            type="button">&times;
                    </button>
                </div> <!-- Modal body -->
                <div class="modal-body">
                    <form [formGroup]="categoryForm">
                        <!-- <div class="loading-indicator" *ngIf="loader">            <mat-spinner mode="indeterminate"></mat-spinner>          </div>  -->
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="langheading">For English Language</h5>
                                <mat-form-field class="full-width-mat">
                                    <input formControlName="name" matInput
                                           placeholder="Item name" required>
                                    <mat-error>This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">For Arabic Language</h5>
                                <mat-form-field class="full-width-mat">
                                    <input formControlName="nameArabic" matInput
                                           placeholder="Item name"
                                           style="direction: rtl;text-align:right;;">
                                    <mat-error style="direction: rtl;text-align:right;;">This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Category(In English)</h5>

                                <div class="dropdown">
                                    <select (change)="changeCat($event)" [value]="selectedCategory._id"
                                            class="drpdwn">
                                        <option *ngFor="let catg of categoryData"
                                                [value]="catg._id">{{catg.name}}</option>
                                    </select>
                                </div>


                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Category(In Arabic)</h5>
                                <div class="dropdown">
                                    <select (change)="changeCat($event)" [value]="selectedCategory._id"
                                            class="drpdwn">
                                        <option *ngFor="let catg of categoryData"
                                                [value]="catg._id">{{catg.nameArabic}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Calories</h5>
                                <mat-form-field class="full-width-mat"><input formControlName="calories" matInput
                                                                              placeholder="Calories">
                                    <mat-error>This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Carb</h5>
                                <mat-form-field class="full-width-mat"><input formControlName="carb" matInput
                                                                              placeholder="Carb">
                                    <mat-error>This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Fat</h5>
                                <mat-form-field class="full-width-mat"><input formControlName="fat" matInput
                                                                              placeholder="Fat">
                                    <mat-error>This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Protien</h5>
                                <mat-form-field class="full-width-mat"><input formControlName="protien" matInput
                                                                              placeholder="Protien">
                                    <mat-error>This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <h5 class="langheading">Price</h5>
                                <mat-form-field class="full-width-mat"><input formControlName="price" matInput
                                                                              placeholder="price">
                                    <mat-error>This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>


                            <div class="col-sm-6">
                                <h5 class="langheading">Sauces</h5>
                                <form [formGroup]="mySauces">
                                    <ng-multiselect-dropdown
                                            (onSelect)="onSaucesSelect($event)"
                                            [data]="saucesData"
                                            [disabled]="disabled"
                                            [placeholder]="'Select Sauces'"
                                            [settings]="dropdownSettings"
                                            formControlName="sauces"
                                            name="sauces">
                                    </ng-multiselect-dropdown>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Side 1</h5>
                                <form [formGroup]="mySide1">
                                    <ng-multiselect-dropdown
                                            (onSelect)="onSide1Select($event)"
                                            [data]="side1Data"
                                            [disabled]="disabled"
                                            [placeholder]="'Select Side1'"
                                            [settings]="dropdownSettings"
                                            formControlName="side1"
                                            name="side1">
                                    </ng-multiselect-dropdown>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Side 2</h5>
                                <form [formGroup]="mySide2">
                                    <ng-multiselect-dropdown
                                            (onSelect)="onSide2Select($event)"
                                            [data]="side2Data"
                                            [disabled]="disabled"
                                            [placeholder]="'Select Side2'"
                                            [settings]="dropdownSettings"
                                            formControlName="side2"
                                            name="side2">
                                    </ng-multiselect-dropdown>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="langheading">Additional</h5>
                                <form [formGroup]="myAdditional">
                                    <ng-multiselect-dropdown
                                            (onSelect)="onAdditionaldSelect($event)"
                                            [data]="additionalData"
                                            [disabled]="disabled"
                                            [placeholder]="'Select Additional'"
                                            [settings]="dropdownSettings"
                                            formControlName="additional"
                                            name="additional">
                                    </ng-multiselect-dropdown>
                                </form>
                            </div>
                        </div>
                        <div class="form-group"><label>Item Image</label>
                            <ngx-dropzone (change)="onSelect($event)">
                                <ngx-dropzone-label>Drop file, here!</ngx-dropzone-label>
                                <ngx-dropzone-preview (removed)="onRemove(f)" *ngFor="let f of files"
                                                      [removable]="true">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>


                        </div>
                        <div class="  text-right">
                            <button (click)="createItem()" class="btn btn-primary"> Save</button>
                            <button class="btn btn-primary" data-dismiss="modal"
                                    type="button">Close
                            </button>
                        </div>
                    </form>
                </div> <!-- Modal footer -->
            </div>
        </div>
    </div>
</section>