
<div class="admin-careers-section">
    <h1 class="page-title">Careers</h1> 
 <div class="bgwhitepart">
    <mat-form-field class="full-width-mat">
        <input matInput   placeholder="Catergory"> 
      </mat-form-field> 
      <mat-form-field class="full-width-mat">
          <input matInput   placeholder="Name"> 
        </mat-form-field> 
        <mat-form-field class="full-width-mat">
          <input matInput   placeholder="Location"> 
        </mat-form-field> 
    <div class="text-right">
      <input type="button" class="btn btn-primary mt-3" value="Save">
    </div>   
 </div>
</div>