.admin-careers-section{padding: 0px 0px 40px;margin:40px auto 0px;max-width: 800px;
    border:1px solid #ddd;
}

.admin-careers-section .page-title{background:#75ad3f;margin-top: 0px;padding:13px 10px;border:none;color:#fff;}
.bgwhitepart{padding:15px 20px 0px}