.admin-footer {
    position: fixed;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    bottom: 0px;
    background: #75ad3f;
    z-index: 999;
}

.admin-footer p {
    color: #fff;
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
}