
.banner-section {
    position: relative;
    background: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), to(#f9f9f9));
    background: linear-gradient(to top, #f9f9f9, #f9f9f9);
}

.banner-img {
    opacity: 0.5;
    max-height: 620px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.banner-absolute-part {
    position: absolute;
    top: 120px;
    max-width: 1200px;
    width: 100%;
    padding: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.banner-absolute-part h2 {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 10px;;
}

.banner-absolute-part h4 {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 26px;
}

.banersearch {
    background: #fff;
    padding: 7px;
    border-radius: 50px;
    border: 1px solid #eee;
}

.banersearch .form-control {
    height: 50px;
    border: none;
    border-radius: 50px;
}

.input-group-append {
    margin-left: 0px;;
}

.banersearch {
    max-width: 500px;
}

.banersearch .input-group-text {
    background: #8cc357;
    color: #fff;
    border-color: #8cc357;
    padding: 4px 15px;
    border-radius: 50px;;
}

.ordernowbaner-btn {
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    border: 2px solid #8cc357;
    box-shadow: none;
    cursor: pointer;
    font-weight: 600;
    line-height: 1;
    font-size: 18px;;
    border-radius: 7px;
    width: 200px;
    display: inline-block;
    margin-top: 40px;;
    padding: 15px 34px;
}

.ordernowbaner-btn:hover {
    color: #000;
    text-decoration: none;
    background: #fff;
}

.various-cuisines-slider {
    position: relative;
}

i.closeicon {
    float: right;
    cursor: pointer;
    color: #fff;
    background: #000;
    padding: 0px 7px;
    font-style: normal;
    border-radius: 40px;
    font-weight: 600;
}

.items-listing {
    display: none;
    padding: 20px;
    background: #fff;
    width: 100%;
    box-shadow: 0px 2px 9px #ddd;
    position: absolute;
    z-index: 99;
    left: 0;
    border-radius: 0px 0px 10px 10px;
    left: 0;
}

.itemheadingline {
    display: block !important;
    border: none !important;;
}

.items-listing li {
    border: 1px solid #ddd;
    list-style: none;
    border-radius: 40px;
    padding: 9px 10px 9px;;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;;
}

.items-listing li .itemimage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;;
}

.itemimage img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.app-linkpart a {
    display: inline-block;
    max-width: 180px;;
    border: 1px solid #8cc3573b;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: center;
    color: #000;
    background: #8cc3573b;
    font-weight: 600;
    margin-right: 20px;
}

.app-linkpart a .fab {
    margin-right: 10px;
    font-size: 21px;
}

.app-linkpart .google-playlink {
    background: #000;
    color: #fff;
}

.appstore-link {
    background-color: #fff;;
}

.mobile-app-section {
    padding: 0px 0px 0px;
    position: relative;
}

.mobile-app-content-part {
    padding-top: 150px;
}

.mobile-app-content-part h2 {
    font-weight: 800;
}

.mobile-app-content-part p {
    font-size: 15px;
    max-width: 380px;
    line-height: 30px;
    margin-bottom: 50px;
}

.partner-section {
    padding: 90px 0px;
    background: #fbfbfb
}

.partner-content-part a .fa {
    vertical-align: middle;
}

.partner-part { /* display: flex; */
    margin: 15px auto;
    border-radius: 6px;
    padding: 32px 32px 46px;
    max-width: 530px;;
    background: #fff;
    min-height: 279px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.partner-content-part { /* text-align: center; */
    margin-top: 10px;
}

.partnericon-part { /* background-image: linear-gradient(to top, rgba(247, 247, 247, 0), rgb(236, 236, 236)); */ /* text-align: center; */
    padding: 10px;
    border-radius: 7px 7px 0px;
    margin-right: 30px;
}

.partnericon-part .fa {
    font-size: 38px; /* background: #8cc357; */
    color: #8cc357; /* padding: 10px; */
    border-radius: 6px;
}

.partner-content-part h3 {
    font-weight: 700;
    font-size: 21px;
}

.partner-content-part h3 .fa {
    background: #8cc357;
    padding: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
    vertical-align: middle;
}

.partner-content-part h3 .partner-txt {
    background: #8cc357;
    padding: 10px 20px;
    color: #fff;
    margin-left: -10px;
    font-weight: 500;
    width: 81%;
    display: inline-block;
}

.partner-content-part p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 10px;
    min-height: 80px;;
}

.partner-content-part a {
    background: #8cc3573b;
    color: #000;
    padding: 13px 15px;
    border-radius: 6px;
    font-weight: 500;
}

.various-cuises-section {
    padding: 40px 0px 40px;
    background: #fbfbfb;
}

.various-cuises-section h2 {
    font-weight: 800;
    margin-bottom: 20px;
}

/* .various-cuisines-slider{position: relative;} */
.various-slider-itempart {
    background: #fff;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;;
    text-align: center;
    margin: 15px 10px;
    border-radius: 40px;
    padding: 12px 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 13px #ddd
}

.various-slider-itempart h5 {
    font-size: 15px;
    color: #333;
    padding-left: 10px;
    margin-top: 15px;
}

.various-slider-itempart:hover, .various-slider-itempart:focus {
    outline: none !important;;
    box-shadow: 2px 3px 8px #ccc;
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.slick-slide img {
    width: 50px;
    height: 50px;
    border-radius: 50%;;
    float: left;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
}

.slick-dots li button::before {
    font-size: 45px;
}

.slick-prev, .slick-next {
    display: none !important;
    font-family: \"Font Awesome 5 Free\";
    z-index: 99;
    background: #fff;
    border-radius: 40px;;
}

.slick-dots {
    bottom: -35px;
}

.slick-arrow {
    top: 41%;
    display: none !important;
    right: 17px;
}

.slick-next {
    right: -20px;
}

.slick-prev {
    right: auto;
    left: -20px;;
}

.slick-prev:before {
    content: \"\\f359\";
    color: #000;
    font-family: \"Font Awesome 5 Free\";
    font-size: 25px;
    display: none;
}

.slick-next:before {
    content: \"\\f35a\";
    color: #000;
    font-family: \"Font Awesome 5 Free\";
    font-size: 25px;
    display: none;
}

.download-app-section {
    background: #8cc357;
    padding: 15px 0px;
}

.download-contentpart h2 {
    font-weight: 700;
    color: #fff;
}

.download-contentpart p {
    font-size: 17px;
    margin: 10px 0px 0px;
    color: #fff;
}

.download-image-part .app-linkpart {
    margin-top: 18px;
}

.download-app-section .app-linkpart a {
    padding: 0px 10px;
}

@media screen and (max-width: 1100px) {
    .partner-part {
        padding: 32px 22px 46px;
        min-height: 339px;;
    }

    .partnericon-part {
        margin-right: 10px;;
    }

    .info-content strong {
        font-size: 21px;
    }

    .mobile-app-content-part {
        padding-top: 90px
    }
}

@media screen and (max-width: 992px) {
    .app-linkpart a {
        margin-right: 10px;
    }

    .mobile-app-section {
        padding-top: 0px;;
    }

    .mobile-app-content-part p {
        margin-bottom: 20px;;
    }

    .container {
        max-width: 100%;
    }

    .app-linkpart a img {
        max-width: 98%;
    }

    .mobile-app-content-part {
        top: 30px;
        padding-top: 10px;
    }

    .banner-absolute-part {
        top: 60px;
    }

    .banner-absolute-part h2 {
        font-size: 30px;
    }

    .partner-content-part h3 .partner-txt {
        width: 75%;
        vertical-align: middle;
        font-size: 16px;
        margin-left: -13px;
    }

    .partner-part {
        min-height: 359px;
    }

    .slick-slide img {
        width: 40px;
        height: 40px;
    }

    .banner-absolute-part h4 {
        font-size: 17px;
    }

    .ordernowbaner-btn {
        padding: 10px 24px;
    }

    .various-slider-itempart h5 {
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .various-slider-itempart h5 {
        font-size: 17px;
    }

    .various-cuises-section {
        padding: 20px 0px
    }

    .partner-part {
        padding: 22px 12px 36px;
        min-height: 349px;
    }

    .partner-content-part h3 {
        font-size: 16px;
    }

    .partnericon-part {
        margin-right: 10px;;
    }

    .partnericon-part .fa {
        font-size: 26px;
    }
}

@media screen and (max-width: 767px) {
    .mobile-app-content-part {
        padding-top: 10px
    }

    .banner-absolute-part h5 {
        font-size: 17px;
    }

    .partner-content-part h3 .partner-txt {
        width: 75%;
        vertical-align: middle;
        margin-left: -13px;
    }

    .continfopart {
        min-height: 50px;
        padding-bottom: 10px;
    }

    .contact-page-section {
        padding: 0px 0px 60px;
    }

    .section-heading-part h2 {
        font-weight: 700;
        font-size: 30px;
    }

    .section-heading-part p {
        font-size: 17px;
    }

    .app-linkpart a {
        padding: 10px 9px;
    }

    .info-content p, .info-content p a {
        line-height: 24px;
    }

    .banner-absolute-part h2 {
        font-size: 27px;
    }

    .banner-absolute-part {
        top: 60px;
    }

    .ordernowbaner-btn {
        padding: 9px 24px;
        margin-top: 20px;
    }

    .banersearch .form-control {
        height: 41px;
    }

    .various-slider-itempart h5 {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .mobile-app-section {
        padding-top: 50px;
    }

    .mobile-app-content-part p {
        font-size: 15px;
        margin-bottom: 11px;
        line-height: 22px;;
    }

    .mobile-app-content-part h2 {
        font-size: 28px;
    }

    .partnericon-part .fa {
        font-size: 26px;
        padding: 7px;
    }

    .partnericon-part {
        margin-right: 10px;
    }

    .partner-content-part a {
        font-size: 14px;;
    }

    .download-contentpart h2 {
        font-size: 27px;
    }

    .download-contentpart p {
        font-size: 15px;
    }

    .download-image-part .app-linkpart {
        text-align: right;
    }

    .partner-section {
        padding: 60px 0px 30px;
    }

    .download-app-section .app-linkpart a {
        max-width: 150px
    }
}

@media screen and (max-width: 700px) {
    .partner-part {
        min-height: 349px;
    }
}

@media screen and (max-width: 576px) {
    .banersearch .form-control {
        height: 41px;
    }

    .banner-part-1 {
        -webkit-box-ordinal-group: 3;
        order: 2
    }

    .banner-absolute-part {
        top: 0px;
        position: relative;
    }

    .banner-img {
        max-height: 820px;
        min-height: 380px;
    }

    .various-cuises-section h2 {
        font-size: 25px;
    }

    .slick-arrow {
        top: -35px;
    }

    .app-linkpart {
        margin-bottom: 30px;
    }

    .partner-part {
        min-height: 200px;
        margin-bottom: 30px;
    }

    .partner-content-part p {
        min-height: 20px;
    }

    .mobile-app-content-part h2 {
        font-size: 25px;
    }

    .mobileapp-image-part {
        margin-top: 20px;
    }

    .app-linkpart a {
        max-width: 170px;
    }

    .mobile-app-section {
        padding-top: 30px;
    }

    .mobile-app-content-part {
        top: 0px;
        padding-top: 0px;
    }

    .download-image-part .app-linkpart {
        text-align: left;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .various-cuises-section h2 {
        font-size: 22px;
    }

    .partner-content-part h3 .partner-txt {
        width: 73%;
    }

    .app-linkpart a {
        width: 135px;
        margin-bottom: 10px;
        padding: 10px 5px;
        font-size: 14px;
    }

    .download-app-section .app-linkpart a {
        width: 130px;
    }
}
    